In [1]:
import numpy as np
import pandas as pd

In [77]:
df = pd.read_csv('/content/TaxiFare.csv')

In [78]:
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [ ]:
### Problem Statement - https://www.kaggle.com/competitions/new-york-city-taxi-fare-prediction/data (total amount for the trip i.e., amount is the dependent
### variable)

### We have to use Regression

EDA

In [4]:
df.shape

(50000, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  object
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.1+ MB

In [6]:
df.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,11.364171,-72.509756,39.933759,-72.504616,39.926251,1.667840
std,9.685557,10.393860,6.224857,10.407570,6.014737,1.289195
min,-5.000000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992062,40.734880,-73.991152,40.734372,1.000000
50%,8.500000,-73.981840,40.752678,-73.980082,40.753372,1.000000
75%,12.500000,-73.967148,40.767360,-73.963584,40.768167,2.000000
max,200.000000,40.783472,401.083332,40.851027,43.415190,6.000000

In [7]:
df.isnull().sum()

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger         0
dtype: int64

In [54]:
df.dtypes

unique_id                object
amount                  float64
date_time_of_pickup      object
longitude_of_pickup     float64
latitude_of_pickup      float64
longitude_of_dropoff    float64
latitude_of_dropoff     float64
no_of_passenger           int64
dtype: object

In [79]:
df['date_time_of_pickup'] = pd.to_datetime(df['date_time_of_pickup'], infer_datetime_format=True)

In [80]:
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [81]:
df['date_time_of_pickup'] = pd.to_datetime(df['date_time_of_pickup']).astype('int64')

In [82]:
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,1245086781000000000,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,1262710336000000000,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,1313627700000000000,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,1334982642000000000,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,1268121060000000000,-73.968095,40.768008,-73.956655,40.783762,1

In [83]:
df.dtypes

unique_id                object
amount                  float64
date_time_of_pickup       int64
longitude_of_pickup     float64
latitude_of_pickup      float64
longitude_of_dropoff    float64
latitude_of_dropoff     float64
no_of_passenger           int64
dtype: object

In [84]:
df.drop(['unique_id'],axis=1,inplace=True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  int64
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 2.7 MB

In [12]:
# df['longitude_of_pickup'] = df['longitude_of_pickup'].abs()
# df['latitude_of_pickup'] = df['latitude_of_pickup'].abs()
# df['longitude_of_dropoff'] = df['longitude_of_dropoff'].abs()
# df['latitude_of_dropoff'] = df['latitude_of_dropoff'].abs()

In [86]:
X = df.drop('amount',axis=1)
y = df['amount']

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [88]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [89]:
model = LinearRegression()

In [90]:
model.fit(X_train,y_train)

LinearRegression()

In [91]:
model.score(X_train,y_train)

0.015902883978785476

In [92]:
model.score(X_test,y_test)

0.015609728517463783